@import '/src/styles/variables.scss';
@import '/src/styles/fonts.scss';

$box-shadow-transition: 0.15s;

.item_row {
  color: $white;
  padding: 3px 5px;
  margin-bottom: 10px;
  text-align: center;

  user-select: none;

  box-shadow: none;
  transition: box-shadow $box-shadow-transition ease;

  &:hover {
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transition: box-shadow $box-shadow-transition ease;
    cursor: pointer;
  }

  &.disabled {
    color: $background-whtie;
    pointer-events: none;
  }
}

.content {
  font-size: $menu-font-size;
  font-family: $quick-sand;
}
