@import '/src/styles/variables.scss';
@import '/src/styles/fonts.scss';

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  height: 58px;

  .title {
    margin: 5px auto;
    font-family: $quick-sand;
    font-weight: 500;
    font-size: 20px;
    color: $white;
  }

  .arrow_wrapper {
    margin-left: 20px;
    display: flex;
    position: absolute;
    left: 0px;

    .arrow {
      padding: 5px;
      transform: scale(1.5);
      cursor: pointer;

      &:hover {
        border-radius: 100%;
        background: $semitransparent-grey;
      }
    }
  }
}
