@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
$quick-sand: 'Quicksand';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
$source-sans-pro: 'Source Sans Pro';
