@import '/src/styles/variables';

.ai_game_page {
  height: 100%;

  .end_game_title_wrapper {
    height: 0;

    .end_game_title {
      width: fit-content;
      margin: auto;
      padding-top: 10%;

      color: $white;
      font-size: 2.5em;
    }
  }

  .content_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    .reload_wrapper {
      width: 100%;
      height: 0px;
      visibility: hidden;

      position: absolute;
      bottom: 0px;

      display: flex;
      justify-content: center;
      align-items: baseline;

      & * {
        cursor: pointer;
      }

      &.show_reloader {
        height: 100px;
        visibility: visible;

        transition: 1s;
      }
    }
  }
}
