@import '/src/styles/variables.scss';
@import '/src/styles/media.scss';

$start-canvas-size: 0px;
$target-canvas-size: 500px;
$loaded-transition-time: 1s;

.view_3d {
  display: flex;
  justify-content: center;
  align-items: center;

  & .canvas_wrapper {
    width: 500px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    & canvas {
      transform: scale(0);
      @include mobile {
        width: 100%;
      }
      &.loaded {
        transform: scale(1);
        transition: transform $loaded-transition-time;
      }
    }
  }

  & .loading_overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);

    & .loading_title {
      color: $white;
      font-size: 25px;
    }

    &.loaded {
      opacity: 0;
      visibility: hidden;
      transition: $loaded-transition-time;
    }
  }
}
