@import '/src/styles/variables.scss';

.icon {
  border: 2px solid rgba(0, 0, 0, 0.274);
  background-color: #7c5cc7;
  border-radius: 5px;
  width: auto;
  z-index: 1;

  padding: 5px 10px;
  margin: 5px;
  color: $white;

  position: fixed;

  user-select: none;

  & .contacts_button {
    &:hover {
      cursor: pointer;
    }
  }

  & .contacts_popup {
    font-size: 20px;
    user-select: text;
  }
}
