@import '/src/styles/fonts.scss';

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;

  font-family: $quick-sand;
}

#app-root {
  width: 100%;
  height: 100%;
}
