.layouts_container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;

  .notification_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    background-color: black;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.5s;

    &.show {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
      transition: 0.5s;
    }
  }
}
