@import '/src/styles/variables.scss';
@import '/src/styles/media.scss';

.container {
  opacity: 0.7;
  backdrop-filter: blur(10px);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  width: fit-content;
  min-width: 250px;
  padding: 3px;
}

.contents {
  margin-bottom: 80px;
  max-height: 200px;
  overflow: auto;
}

.title_wrapper {
  letter-spacing: 10px;
  @include mobile {
    letter-spacing: 5px;
  }

  color: $bright-white;
  font-size: 35px;
  font-weight: bold;
  white-space: nowrap;

  text-align: center;
  user-select: none;

  margin-bottom: 1em;
  padding: 0px 8px;
}

.footer_wrapper {
  text-align: right;
  padding: 0px 10px;
}
